# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Model checkpoints (large binary files)
checkpoints/

# Datasets (large)
Datasets/

# Jupyter
.ipynb_checkpoints/

.walkthrough.md

tokenizer.model
tokenizer.vocab

checkpoints_sentencepiece/

walkthrough.md 

src/temp.py
src/test_model.py